body {
	color: #5b2e92;
	min-height: 100vh; /* pour définir une hauteur égale à la hauteur de la fenêtre (100% viewport height) - pour mettre le footer en bas de page */
}
.pushFooter {
    flex-grow: 1; /* pousse le footer en bas de bloc */
    margin: 10px;
}
#mceu_11 {
	width: 50% !important;
    align-self: center;
    display: inline-block;
    margin-bottom: 15px;
}
.alert {
	text-align: center !important;
}
input {
	margin-top: 10px;
}
.smallInfosText {
	font-style: italic;
	font-size: 0.8em;
}
.formStyle .titleForm {
	font-size: 1.5em;
}

/* BUTTONS */
.buttonStyle {
    color: white;
    background-color: #b48ed4;
    margin: 5px;
    border: 1px #b48ed4 solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition : all 0.5s;
}
	.buttonStyle:hover {
	    color: white;
	    background-color: #5b2e92;
	}
	a.buttonStyle {
    	line-height: 37px;
	}
	.buttonStyle.Arrow {
    	line-height: 37px;
    	text-align: center;
	}
		.buttonStyle.Arrow a {
	    	color: white;
	    	text-decoration: none;
		}
.subButtonsStyle {
    color: white;
    background-color: #b48ed4;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    justify-content: center;
    padding: 5px;
}
	.subButtonsStyle svg {
		font-size: 1.5em;
	}
	.subButtonsStyle:hover {
		text-decoration: none;
	    color: white;
	    background-color: #5b2e92;
	}
	.subButtonsStyle.sbsToggler {
		justify-content: space-between;
		padding: 10px 20px 0;
	}
	.postTitle {
		color: white;
	    background-color: #b48ed4;
	    text-align: center;
	    border-bottom-left-radius: 8px;
	    border-top-right-radius: 8px;
	    margin: 10px 0 20px;
	    padding: 5px;
	}
/* RANDOM PICS */
#randomPicOnePost {
    display: flex;
    justify-content: center;
}
	#randomPicOnePost img {
		max-height: 500px;
	    width: auto;
	    border-radius: 30px;
	}
/* FORMS */
form {
	text-align: center;
}
	form input {
		margin-bottom: 10px;
		width: 50%;
	}
	form textarea {
		margin-bottom: 10px;
		width: 50%;
	}
.formStyle {
	border: solid 1px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 15px 0;
}

/* PAGINATION */
.containerPagination {
	display: flex;
    justify-content: center;
}
.pagination {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    border: solid 1px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
}
	.pagination p {
		align-self: flex-end;
	}
	.pagination a {
		line-height: 37px;
		text-decoration: none;
		color: white;
	}

/* HEADER */
#titleBlog {
    font-family: 'Merienda One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0 20px;
}
	#titleBlog h1 {
		font-size: 4em;
		text-align: center;
	}
	#titleBlog a {
		color: #5b2e92;
		align-self: center;
	}
	    #titleBlog a:hover {
	    text-decoration: none;
	}
	#titleBlog .feather {
		align-self: center;
		margin: 0;
		width: 10%;
		opacity: 0.5;
	}

/* SIDEBAR */
#sidebar {	   
	display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#researchSidebar {
    	margin-top: 20px;
	    text-align: center;
	    background-color: #5b2e92;
	    line-height: 1;
}
	#researchSidebar button {
        width: 30px;
		height: 30px;
	}
		#researchSidebar button:hover {
	        background-color: white;
	        color: #5b2e92;
		}

	#titleSidebar, .menu, #connexion, #disconnection {
		border: 2px solid;
    	padding: 15px;
    	margin-top: 20px;
		border-bottom-left-radius: 8px;
	    border-top-right-radius: 8px;
	    text-align: center;
	}
		#title {
			font-size: 1.8em;
			margin-bottom: 15px;
			text-align: end;
			padding: 0 20px;
		}
			#titleSidebar {
	    	font-family: 'Merienda One', cursive;
	    	text-align: justify;
		}
			#titleSidebar a {
			color: #5b2e92;
		}
		    #titleSidebar a:hover {
		    text-decoration: none;
		}
		.logo {
			width: 100%;
    		padding: 5px 20px;
    		border-radius: 10%;
		}
		#textIntro {
			padding: 5px 20px;
		}
.sbsTogglerSidebar {
	display: none;
}

/* MENU */
.menu {
	display: flex;
    justify-content: center;
}
	.menu ul {
		list-style-type: none;
		margin: 0;
	    padding: 0;
	    color: black;
	}
	#menuLinks a {
		color: #5b2e92;
	}
		#menuLinks a:hover {
			text-decoration: none;
		    color: white;
		    background-color: #5b2e92;
		    padding: 5px;
		}
		#menuLinks .svg-inline--fa {
			margin-left: 15px;
		}
	.menu li {
		margin: 10px;
	}
#menuLinks p {
	background-color: #5b2e92;
    color: white;
    padding: 7px;
}

/* CONNEXION */
#connexion a {
	color: #b48ed4;
}

/* FOOTER */
.footer {
    padding: 15px 15px 0;
    margin-top: 20px;
    text-align: center;
	background-color: #5b2e92;
	color: white;
	border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}
.footerResponsive {
	display: none;
}

/* CONTENT */
#contentDiv {
	margin-top: 20px;
	display: flex;
    flex-direction: column;
}	
	#contentDiv .feather {
	    width: 15%;
	    align-self: flex-end;
	    margin: 0 20px;
	    opacity: 0.5;
	}
	#content .contentTitle, .contentSubTitle {
		background-color: #5b2e92;
	    color: white;
	    text-align: center;
	    padding: 7px;
	    margin-bottom: 30px;
	}
	#content .contentSubTitle {
	    margin: 30px 0;
	}
	#footerContent {
		text-align: center;
	    display: flex;
	    position: relative;
	    justify-content: center;
	    margin-bottom: 25px;
	}
		#footerContent:before {
		content: "";
	    display: block;
	    border-bottom: 1px solid #5b2e92;
	    width: 100%;
	    height: 1px;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
		}
		#footerContent .svg-inline--fa {
			padding: 7px 2px;
		    border: solid 1px;
		    width: 40px;
		    height: 40px;
		    border-radius: 50%;
		    margin: 2.5px;
		    outline: 5px solid white;
		    background-color: white;
    		color: #5b2e92;
    		z-index: 1;
    		position: relative;
		}
			#footerContent .svg-inline--fa:hover {
				background-color: #5b2e92;
				color: white;
			}

	/* HOME */
.homeBlocks {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 20px;
}
	.homeStyle {
		padding: 15px;
	}
		.homeStyle a {
			align-self: flex-end;
			text-align: center;
		}
		.homeLink {
			display: flex;
   			justify-content: flex-end;
		}
#homeIntro .feather {
    width: 40%;
    align-self: center;
    padding-bottom: 20px;
    opacity: 0.7;
}
#homeImg {
	display: flex;
    justify-content: center;
}
	#homeImg img {
		width: 50%;
		height: 50%;
	    border: #5b2e92 solid 2px;
	    border-radius: 10%;
	}

/* CONTACT */
#checkBoxContact input {
	width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
}
#listContact {
	margin: 20px 0;
}
	#listContact #subject {
   		width: 50%;
   	}
.g-recaptcha {
   	display: flex;
    justify-content: center;
    margin: 15px;
}

/* SLIDER */
.slideshow {
	padding: 0 !important;
	display: flex;
	overflow: hidden;
	margin-bottom: 30px;
	border-radius: 5px;
	border: #b48ed4 dashed 2px;
}
	.slideshow > * {
		flex: 1 0 100%;
		transition : all 0.5s; /* permet une transistion visuellement agréable sur tous les éléments grâce à "all" */
		text-align: center;
		padding: 10px;
	}
.startStop {
	cursor: pointer;
    right: 0;
    bottom: 0;
    font-size: 0.8em;
	padding: 5px;
	position: absolute;
	color: #b48ed4;
	}
		.startStop:hover {
			color: #5b2e92;
		}
.postBlocks.slider a {
	background-color: #b48ed4;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-style: italic;
    font-size: 0.8em;
    transition : all 0.5s;
}
	.postBlocks.slider a:hover {
		text-decoration: none;
		background-color: #5b2e92;
	}

/* ACCOUNT */
.modifyAccount {
	margin-bottom: 30px;
}
.infosUser {
	background-color: #5b2e92;
    border-radius: 5px;
    color: white;
    width: fit-content;
    padding: 5px;
    display: inline;
    align-self: center;
	margin-bottom: 10px;
}
.infoUserAvatar {
    width: 100px;
    height: 100px;
    border: #5b2e92 solid 1px;
    background-color: white;
}
.userAvatarAdCom {
	width: 50px;
    height: 50px;
}
#modifyAvatar span {
	font-size: 0.8em;
	font-style: italic;
}
.userBlocks {
	margin: 0 0 20px;
	text-align: center;
}

/* RESEARCH */
.searchStyle {
	margin-bottom: 20px;
	padding: 20px;
}

/* ADVERTISEMENTS */
.adStyle, .postStyle {
	margin-bottom: 20px;
}
#id_category {
	margin: 10px 0 15px;
    width: 50%;
}
.adButtons, .postButtons {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
}
.mailto {
	font-weight: bold;
	text-decoration: none !important;
}

/* MARKETPLACE */
.marketBlocks img {
	width: 150px;
}
.marketText {
	padding: 15px;
}
	.marketText a {
		color: #5b2e92;
		text-decoration: none;
		text-align: justify;
    	display: flex;
    	flex-direction: column;
	}
		.marketText img {
			align-self: center;
		}

/* FRIENDS */
.formStyle.friends {
	flex-direction: row;
	text-align: center;
	justify-content: center;
	margin-bottom: 20px;
}
.friendsImg {
    width: 300px;
    overflow: hidden;
    height: 100px;
}
	.friendsImg img {
	    width: 200px;
	}
.friendsText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
	.subButtonsStyle.sbsTogglerSidebar {
		display: flex;
		margin-bottom: 0;
		margin-top: 20px;
		justify-content: space-between;
		padding: 10px 20px 0;
	}
	.fsContentSidebar, .fsContentResponsive {
		display: none;
	}
	.footerSidebar {
		display: none;
	}
	.footerResponsive {
		display: flex;
		margin: 0 0 20px;
	    justify-content: center;
	}
	.adButtons {
		flex-direction: row;
    	justify-content: center;
	}
	#randomPicOnePost {
		display: none;
	}
}